<div style="display: flex; justify-content: space-between">
  <p *ngIf="!isEdit">{{ description }}</p>
  <button style="max-height: 30px" *ngIf="authService.isLoggedIn() && !isEdit" class="btn edit-btn"
          (click)="editDescription()">
    <i class="fas fa-edit"></i>
  </button>
</div>

<div *ngIf="isEdit">
  <textarea rows="10" [(ngModel)]="editedDescription"></textarea>
  <div style="display: flex; justify-content: flex-end">
    <button class=" skill" (click)="saveDescription()">Submit</button>
  </div>
</div>
