.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 50%;
  position: fixed;
  height: 100vh;
  padding: 20px;
}

.content {
  width: 50%;
  margin-left: 50%;
  overflow-y: auto;
  height: 100vh;
  scroll-behavior: smooth;
}

section {
  padding: 50px;
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    height: auto;
  }

  .sidebar {
    width: 100%;
    position: relative;
    height: auto;
    text-align: center;
    padding: 20px;
  }

  .content {
    width: 100%;
    margin-left: 0;
    height: auto;
    overflow-y: visible;
  }
}
