img {
  width: 150px !important;
  height: 80px;
  object-fit: contain;
  display: block;
  border: 1px solid white;
  border-radius: 5px;
  margin-top: 25px;
}

@media (max-width: 768px) {
  .card-body{
    flex-direction: column;
  }
  .card-right{
    width: 100%;
  }
}
