<div class="container">
  <div class="show-flex">
    <h2 class="section-header">Personal Projects</h2>
    <button *ngIf="authService.isLoggedIn()" class="btn add-btn" (click)="addProjects()">
      <i class="fas fa-plus"></i>
    </button>
  </div>
  <div class="card-body" *ngFor="let project of projects">
    <div class="card-left">
      <img *ngIf="project.image" [src]="project.image" alt="Project image">
    </div>

    <div class="card-right">
      <div class="show-flex">
        <h3 class="title">
          <ng-container *ngIf="project.link; else plainTitle">
            <a [href]="project.link">{{ project.title }}</a>
          </ng-container>
          <ng-template #plainTitle>{{ project.title }}</ng-template>
        </h3>

        <div *ngIf="authService.isLoggedIn()" style="display: flex">
          <button class="btn edit-btn" (click)="editProject(project.id)"><i class="fas fa-edit"></i></button>
          <button class="btn delete-btn" (click)="deleteProject(project.id)"><i class="fas fa-trash"></i></button>
        </div>
      </div>
      <p>{{project.description}}</p>
      <ul>
        <li class="skill" *ngFor="let skill of project.skills">
          {{skill}}
        </li>
      </ul>
    </div>
  </div>
</div>
