<div class="container">
  <div class="show-flex">
    <h2 class="section-header">Skills</h2>
    <button *ngIf="authService.isLoggedIn()" class="btn add-btn" (click)="openModal()">
      <i class="fas fa-plus"></i>
    </button>
  </div>
  <div class="card-body" *ngFor="let category of categories; let i = index">

    <div *ngIf="openCategory !== i" style="display: flex; justify-content: space-between; width: 100%; padding-left: 20px">
      <p>
        {{ category.name }}
      </p>
      <button class="btn add-btn" (click)="toggleCategory(i)"><i class="fas fa-plus"></i></button>
    </div>


    <div *ngIf="openCategory === i" class="card-left">
      <button class="btn add-btn" (click)="toggleCategory(i)"><i class="fas fa-minus"></i></button>

      <p class="left-text">{{ category.name }}</p>
    </div>
    <div *ngIf="openCategory === i" class="card-right">
      <div *ngFor="let subcategory of category.subcategories">
        <h3 class="title">{{ subcategory.name }}:</h3>
        <ul>
          <li class="skill" *ngFor="let skill of subcategory.skills">
            {{ skill.name }}
          </li>
        </ul>
      </div>
      <div *ngIf="authService.isLoggedIn()">
        <button class="btn edit-btn" (click)="editCategory(category.id)">
          <i class="fas fa-edit"></i>
        </button>
        <button class="btn delete-btn" (click)="deleteCategory(category.id)">
          <i class="fas fa-trash"></i>
        </button>
      </div>
    </div>
  </div>
</div>
