@import url('assets/css/theme-variable.css');


body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--background-color);
  color: var(--primary-color);
  font-family: 'Poppins', sans-serif;
}

* {
  color: var(--primary-color);
}

a {
  text-decoration: none;
  color: inherit;
}

nav ul li a:hover {
  color: var(--secondary-color);
}
