body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #1e1c27;
  color: #d1d1d1;
  font-family: 'Poppins', sans-serif;
}

* {
  color: #d1d1d1;
}

a {
  text-decoration: none;
  color: inherit;
}

nav ul li a:hover {
  color: #00c4cc;
}
