@import url('assets/css/theme-variable.css');


body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--background-color);
  color: var(--primary-color);
  font-family: 'Poppins', sans-serif;
}

* {
  color: var(--primary-color);
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

nav ul li a:hover {
  color: var(--secondary-color);
}

.skill {
  display: inline-block;
  padding: 5px 16px;
  margin: 5px;
  border-radius: 20px;
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: all 0.3s ease-in-out;
  cursor: default;
  background: var(--skills-bg);
  box-shadow: 0 4px 6px var(--skills-shadow);
}

.btn {
  display: inline-flex;
  background: rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: center;
  padding: 8px 20px;
  margin: 5px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border: none;
  box-shadow: 0 4px 6px var(--shadow);
  max-height: 30px;
}

.add-btn {
  color: var(--white);
}

.add-btn:hover {
  background: var(--secondary-color);
  box-shadow: 0 4px 8px var(--hover-shadow-secondary);
}

.edit-btn {
  color: var(--secondary-color);
}

.edit-btn:hover {
  background: var(--secondary-color);
  color: var(--white);
}

.delete-btn {
  color: var(--danger-color);
}

.delete-btn:hover {
  background: var(--danger-hover-bg);
  color: var(--white);
  box-shadow: 0 4px 8px var(--hover-shadow-danger);
}

.btn i {
  color: currentColor;
}


h2 {
  font-size: 20px;
  margin: 5px 0;
  font-weight: normal;
  color: var(--white);
  opacity: 0.7;
}

.container {
  display: flex;
  flex-direction: column;
}

.card-body {
  display: flex;
  padding: 5px 0;
  border-radius: 8px;
}

.card-body:hover {
  box-shadow: 0px 6px 12px var(--shadow);
  transform: translateY(-2px);
}

.card-left {
  width: 25%;
  font-weight: bold;
  padding-right: 20px;
  text-align: right;
}

.card-right {
  width: 75%;
}

.left-text {
  font-weight: 300;
}

.section-header {
  font-size: 25px;
  text-transform: uppercase;
}

.title {
  margin: 16px 0 5px;
  font-size: 20px;
}

ul {
  padding: 0;
}

.show-flex {
  display: flex;
  justify-content: space-between;
}

[aria-hidden="true"] {
  inset: inset;
}

.mdc-dialog--open .mat-mdc-dialog-surface, .mdc-dialog--closing .mat-mdc-dialog-surface {
  padding: 25px;
}

mat-form-field {
  padding-top: 20px;
}

.no-scroll-modal .mdc-dialog__surface {
  overflow: hidden !important;
}

.no-scroll-modal .mat-mdc-dialog-content {
  overflow-y: auto !important;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scroll-modal .mat-mdc-dialog-content::-webkit-scrollbar {
  display: none;
}

.mat-mdc-dialog-surface, .mat-horizontal-stepper-wrapper {
  background-color: var(--background-color) !important;
}

@media (max-width: 768px) {

  .card-body:hover {
    box-shadow: none;
    transform: none;
  }
}
