.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 10px 0;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

p {
  font-size: 15px;
  max-width: 500px;
  margin: 5px 0 10px;
  opacity: 0.9;
  color: #d1d1d1;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

nav ul li {
  display: block;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  padding: 5px 15px;
  transition: all 0.3s ease-in-out;
  position: relative;
  display: inline-block;
}

nav ul li a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #00c4cc;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

nav ul li a:hover::before {
  transform: scaleX(1);
}

nav ul li a:hover {
  color: #00c4cc;
  transform: scale(1.05);
}

.contact-info {
  text-align: left;
}

.contact-info h3 {
  font-size: 18px;
  color: #00c4cc;
}

.social-links {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 15px;
}

.social-links li {
  display: flex;
  align-items: center;
}

.social-links a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: color 0.3s ease-in-out;
}

.social-links a:hover {
  opacity: 0.5;
}

.social-links img {
  width: 20px;
  height: 20px;
  filter: brightness(0) invert(1);
}
