.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.desktop-nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.desktop-nav ul li {
  display: block;
}

.desktop-nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  padding: 5px 15px;
  transition: all 0.3s ease-in-out;
  position: relative;
  display: inline-block;
}

.desktop-nav ul li a:hover {
  color: #00c4cc;
  transform: scale(1.05);
}

.contact-info {
  text-align: left;
}

.contact-info h3 {
  font-size: 18px;
  color: #00c4cc;
}

.social-links {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 15px;
}

.social-links a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.social-links a:hover {
  opacity: 0.5;
}

.menu-container {
  display: none;
}

@media (max-width: 768px) {
  .container {
    padding: 0;
  }

  .menu-container {
    display: block;
  }

  .desktop-nav, .contact-info {
    display: none;
  }

  .menu-toggle {
    display: block;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    position: fixed;
    top: 40px;
    right: 20px;
    z-index: 10000;
    transition: opacity 0.3s ease-in-out;
  }

  .menu-toggle.hidden {
    opacity: 0;
    pointer-events: none;
  }

  .menu-content {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: #111;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
    z-index: 9999;
  }

  .menu-content.show {
    transform: translateX(0);
    background-color: #14202e;
  }

  .menu-content nav ul {
    list-style: none;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .menu-content nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    padding: 5px 15px;
    transition: all 0.3s ease-in-out;
  }

  .menu-content nav ul li a:hover {
    color: #00c4cc;
  }

  .menu-content .contact-info {
    display: block;
    margin-top: 20px;
  }

  p {
    text-align: left;
  }
}
