<div class="container">
  <div class="show-flex" >
    <h2 class="section-header">Career History</h2>
    <button *ngIf="authService.isLoggedIn()" class="btn add-btn" (click)="openModal()">
      <i class="fas fa-plus"></i>
    </button>
  </div>
  <div class="card-body" *ngFor="let exp of experiences">
    <div class="card-left">
      <p class="left-text">{{ exp.startDate | date:'MMM yyyy' }} -
        {{ exp.endDate ? (exp.endDate | date:'MMM yyyy') : 'Present' }}
      </p>
    </div>
    <div class="card-right">
      <div class="show-flex">
        <div style="display:flex; flex-direction: column">
          <h3 class="title">{{ exp.title }}</h3>
        </div>
        <div *ngIf="authService.isLoggedIn()" style="display: flex">
          <button class="btn edit-btn" (click)="editExperience(exp.id)"><i class="fas fa-edit"></i></button>
          <button class="btn delete-btn" (click)="deleteExperience(exp.id)"><i class="fas fa-trash"></i></button>
        </div>
      </div>
      <p class="title" style="margin: 0">{{ exp.company }}</p>
      <ul>
        <li *ngFor="let task of exp.responsibilities">{{ task }}</li>
      </ul>
      <ul>
        <li class="skill" *ngFor="let skill of exp.skills">
          {{skill}}
        </li>
      </ul>
    </div>
  </div>
</div>
