<div class="experience-container">
  <div class="experience-card" *ngFor="let exp of experiences">
    <div class="experience-left">
      <p>{{ exp.startDate | date:'MMM yyyy' }} -
        {{ exp.endDate ? (exp.endDate | date:'MMM yyyy') : 'Present' }}
      </p>
    </div>
    <div class="experience-right">
      <h3>{{ exp.title }}</h3>
      <h4>Responsibilities:</h4>
      <ul>
        <li *ngFor="let task of exp.responsibilities">{{ task }}</li>
      </ul>
      <h4>Skills:</h4>
      <ul class="skills">
        <li *ngFor="let skill of exp.skills">
          {{skill}}
        </li>
      </ul>
    </div>
  </div>
</div>
